body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin: 0 auto;
  background-image: url("./images/velaris.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}

li:hover,
li:active,
li:focus,
li:target {
  background-color: lightyellow;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: white;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.icon {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.weather {
  border: 1px solid #b3d1f9;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: black;

  width: 100%;
  height: 100%;
}
